@use "./variables.scss" as *;

// put your custom CSS here!

.csl-bib-body {
  margin-top: 2rem;
}

.csl-entry {
  margin: 0 0 0.8rem 0;
  padding-left: 2em;
  text-indent: -2em;
  line-height: 1.5;
}
